Header set Content-Security-Policy "default-src 'self'; font-src 'self' https://fonts.bunny.net data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' 'sha256-kPx0AsF0oz2kKiZ875xSvv693TBHkQ/0SkMJZnnNpnQ=' 'nonce-%{csrf_token}e' https://_.test:_ http://_.test:_ http://localhost:_ http://[::1]:_ https://localhost:_ https://[::1]:_; script-src-elem 'self' 'unsafe-inline' 'unsafe-eval' https://_.test:_ http://_.test:_ http://localhost:_ http://[::1]:_ https://localhost:_ https://[::1]:_; style-src 'self' 'unsafe-inline' https://fonts.bunny.net https://_.test:_ http://_.test:_ http://localhost:_ http://[::1]:_; img-src 'self' data:; connect-src 'self' wss://_.test:_ ws://_.test:_ https://_.test:_ http://_.test:_ ws://localhost:_ ws://[::1]:_ http://localhost:_ http://[::1]:_;"
